@model IEnumerable<CreativeCravings.ViewModels.RecipeCategoryGroup>

@{
    ViewBag.Title = "Recipe Category Statistics";
}

<h2>Recipe Category Statistics</h2>

<table>
    <tr>
        <th>
            Category
        </th>
        <th>
            Num of Recipes
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryType)
            </td>
            <td>
                @item.RecipeCount
            </td>
        </tr>
    }
</table>