@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Creative Cravings</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Creative Cravings</h2>
        <p>
            Creative Cravings is a simple recipe site used to find
            recipes by category, or by your favorite chefs!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Categories</h2>
        <p>For now, our main categories will be by time of day like breakfast, lunch, dinner, and dessert for those with a sweet tooth!</p>
    </div>
    <div class="col-md-4">
        <h2>Chefs</h2>
        <p>Our chefs will be anyone who submits recipes to our site. Become a chef today!</p>
    </div>
</div>